@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	background: #000;
}

.display-frame-1 {
	display: flex;
	box-shadow: 6px 6px 8px #fffa inset;
	background: linear-gradient(to bottom right, #444 0%, #222 100%);
}

.display {
	@apply m-8;
	border-radius: 8px;
	box-shadow: 3px 3px 2px #fff6 inset;
	background: linear-gradient(to bottom right, #333 0%, #111 100%);
}

.popup-container {
	@apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-3xl border-black p-4 shadow-xl;
}

.popup-title {
	@apply text-center;
}

input[type='number'],
button {
	@apply block rounded-lg border-0 px-3 py-2 shadow-md transition-shadow hover:shadow focus:ring-0 active:shadow-inner;
}
